.container {
    width: 1200px;
    max-height: 700px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px, 50px;
    display: flex;
    align-items: center;
}

.introduction {
    flex: 4;
    order: 2;
    padding: 40px 20px;
    align-items: center;
}

.gallery {
    flex: 6;
    width: 600px;
    order: 1;
    padding: 40px 20px;
    align-items: center;
}

.crop-rect {
    width: 590px;
    height: 290px;
    object-fit: cover;
    border: 5px solid black;
    margin: 0;
}

.crop-square {
    margin: 0;
    width: 289px;
    height: 289px;
    object-fit: cover;
    border: 5px solid black;
}

.typewriter{
    overflow: hidden;
    width: 180px;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0, auto;
    padding: 0;
    letter-spacing: .15em;
    animation: 
    typing 0.5s steps(85, end),
    blink-caret 1s step-end infinite;
}

.typewriter-text {
    margin: 0;
}

/* The typing effect */
@keyframes typing {
    from { width: 0px }
    to { width: 180px }
  }
  
/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-right-color: transparent }
50% { border-right-color: orange; }
}
