* {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
   }

body {
background-image: url(backgrounds/blobs.svg);
}

.container {
    max-width: 1400px;
    min-height: 700px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px, 50px;
    display: flex;
    align-items: center;
}

.introduction {
    flex: 8.7;
    order: 1;
    padding: 40px 100px;
    align-items: center;
}

.gallery {
    flex: 20;
    order: 2;
    padding: 40px 100px 40px 0px;
}

.wide-image {
    grid-column: 1 / 3;
}

.normal-image {
    grid-column: 1 / 2;
}

.image-container {
    display: grid;
    grid-template-columns: auto auto;
}

.name-header {
    text-decoration: underline;
}

h1 {
    font-size: 200%;
    color: #FFF;
}

h2 {
    padding-top: 1em;
    border-top: 0.15em solid white;
    font-size: 100%;
    text-decoration: solid;
    color: #94B0DA;
}

h3 {
    padding-top: 1em;
    font-size: 100%;
    font-style: italic;
}

h4 {
    font-size: 25%;
}

.typewriter{
    overflow: hidden;
    width: 300px;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0, auto;
    padding: 0;
    letter-spacing: .15em;
    animation: 
    typing 1s steps(85, end),
    blink-caret 1s step-end infinite;
}

.typewriter-text {
    margin: 0;
}

/* The typing effect */
@keyframes typing {
    from { width: 0px }
    to { width: 300px }
  }
  
/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-right-color: transparent }
50% { border-right-color: orange; }
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

.nav-button {
    float: right;
    display: inline;
    border-radius: 20px;
    padding: 8px 15px;
    transition: transform 200ms ease-out;
}

a:link {
    color: #FFF;
    text-decoration: none;
}

.nav-button:hover {
    background-color: orange;
    transform: translateY(-0.25em);
}

.circle-background {
    height: 25px;
    width: 25px;
    background-color: #4E6E5D;
    border-radius: 50%;
    display: inline;
}

.button-menu {
    height: 60px;
    max-width: 700px;
    margin: 40px auto 40px auto;
    display: flex;
}

.centered {
    color: #FFF;
    font-size: 60px;
    margin: auto;
    font-style: bold;
  }

.contact-me {
    color: #FFF;
    padding: 0px 20px;
    background-color: #94B0DA;
    border-radius: 20px;
    transition: padding 200ms linear
}

.contact-me:hover {
    background-color: orange;
    padding: 0px 40px
}